:where([class^="ri-"])::before { content: "\f3c2"; }
body {
    font-family: 'Montserrat', sans-serif;
}
.counter-value {
    transition: all 0.5s ease;
}
.ods-item:hover .ods-hover-info {
    opacity: 1;
    transform: translateY(0);
}

.inicio{
    background-image: url('Imagenes/imagen_1_Inicio.jpg'); 
    background-size: cover; 
    background-position: center;
} 

/* Header */